name: Deploy

on:
  push:
    branches: ["main"]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: "Installing Dependencies"
        run: npm i
      - name: "Running test cases"
        run: npm run test

  deploy:
    runs-on: ubuntu-latest

    needs: unit-tests # Ensures this job runs only after unit-tests job succeeds

    steps:
      - uses: actions/checkout@v4
      - run: docker build . -t practice:latest
      - run: echo "${{secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin
      - run: docker tag practice:latest kamit6337/practice-server
      - run: docker push kamit6337/practice-server
